*,
*::before,
*::after {
  box-sizing: border-box;
  margin: auto;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right, #8a5ac8, #8b9fa9);
}